<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wider :: Main</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <form action="/request">
        <div id="main">
        <div id="livingRoom" class="box">
            <p>livingRoom</p>
            <button type="button">On</button>
        </div>
        <div id="Room1" class="box">
            <p>Room1</p>

            <input type="submit" value="On"/>
        </div>
        <div id="hall" class="box">
            <p>hall</p>
        </div>
        <div id="hall1" class="box">
            <p>hall</p>
        </div>
        <div id="hall2" class="box">
            <p>hall</p>
        </div>
         <div id="hall3" class="box">
            <p>hall</p>
        </div>
        <div id="Room2" class="box">
            <p>Room2</p>
            <button type="button">On</button>
        </div>
        <div id="Room3" class="box">
            <p>Room3</p>
            <button type="button">On</button>
        </div>
        <div id="Room4" class="box">
            <p>Room4</p>
            <button type="button">On</button>
        </div>
        <div id="dressRoom" class="box">
            <p>dress</p>
            <button type="button">On</button>
        </div>
        <div id="kitchen" class="box">
            <p>kitchen</p>
            <button type="button">On</button>
        </div>
        <div id="BathRoom1" class="box">
            <p>Bath1</p>
            <button type="button">On</button>
        </div>
        <div id="BathRoom2" class="box" value="화장실">
            <p>Bath2</p>
            <button type="button">On</button>
        </div>
    </div>
    </form>

</body>
</html>